section#fh5co-feature
  .container
    .row.fh5co-feature-2
      h2.fh5co-uppercase-heading-sm.text-center BLOGS
      .fh5co-spacer.fh5co-spacer-md
      .col-md-3.col-sm-6.fh5co-feature-item
        span.fh5co-feature-icon.fh5co-circle
          i.ti-timer
        h3.text-center.fh5co-feature-title.h4.text-uppercase Times
        p.text-center.fh5co-feature-description
          | This is made a record of the read articles every day.
        p.text-center.fh5co-feature-description
          | start on 2016-06-13
        p.text-center
          a.btn.btn-primary.btn-sm(href="http://times.about-hiroppy.org/" target="_blank")
            | Read more
      .col-md-3.col-sm-6.fh5co-feature-item
        span.fh5co-feature-icon.fh5co-circle
          i.ti-mobile
        h3.text-center.fh5co-feature-title.h4.text-uppercase sketchbook
        p.text-center.fh5co-feature-description
          | My technical blog. The update frequency is low.
        p.text-center.fh5co-feature-description
          | start on 2015-04-26
        p.text-center
          a.btn.btn-primary.btn-sm(href="http://blog.about-hiroppy.org/" target="_blank")
            | Read more

      .clearfix.visible-sm-block

      .col-md-3.col-sm-6.fh5co-feature-item
        span.fh5co-feature-icon.fh5co-circle
          i.ti-desktop
        h3.text-center.fh5co-feature-title.h4.text-uppercase ひろっぴーのふろっぴー
        p.text-center.fh5co-feature-description
          | My old technical blog. There is not the further update.
        p.text-center.fh5co-feature-description
          | start on 2012-05-21
        p.text-center
          a.btn.btn-primary.btn-sm(href="http://d.hatena.ne.jp/about_hiroppy/" target="_blank")
            | Read more
      .col-md-3.col-sm-6.fh5co-feature-item
        span.fh5co-feature-icon.fh5co-circle
          i.ti-paint-bucket
        h3.text-center.fh5co-feature-title.h4.text-uppercase つくえのなか
        p.text-center.fh5co-feature-description
          | My hobby blog. The update frequency is low.
        p.text-center.fh5co-feature-description
          | start on 2012-12-06
        p.text-center
          a.btn.btn-primary.btn-sm(href="http://about-hiroppy.hatenablog.com/" target="_blank")
            | Read more
