footer#fh5co-footer
  .container
    ul.fh5co-social-icons
      li
        a(href="mailto:hello@about-hiroppy.com")
          i.ti-email
      li
        a(href="https://twitter.com/about_hiroppy")
          i.ti-twitter-alt
      li
        a(href="https://www.facebook.com/abouthiroppy")
          i.ti-facebook
      li
        a(href="https://github.com/abouthiroppy")
          i.ti-github
    p.text-muted.fh5co-no-margin-bottom.text-center
      small &copy; 2015 - 2016 Copyright Yuta Hiroto, All Rights Reserved.
