header#fh5co-header-section(role="header")
  .container
    h1#fh5co-logo.pull-left
      a(href="index.html") Think Later
    nav#fh5co-menu-wrap(role="navigation")
      ul#fh5co-primary-menu.sf-menu
        li.active
          a(href="#fh5co-hero") Home
        li
          a(href="#fh5co-main") about
        li
          a(href="#fh5co-skills") skills
        li
          a(href="#fh5co-feature") blogs
        li
          a(href="#fh5co-testimonial") SNS
