section#fh5co-main
  .container
    .row
      h2.fh5co-uppercase-heading-sm.text-center ABOUT
      .fh5co-spacer.fh5co-spacer-md
      .col-md-5.col-sm-5.col-xs-12
        .my-avator
      .col-md-7.col-sm-7.col-xs-12.fh5co-lead-wrap
        h2 Yuta Hiroto(abouthiroppy)
        p I am a JavaScript junkie!
        p 
          | I work as a developer and Node.js collaborator for 
          a(href="http://dwango.co.jp/" target="_blank") Dwango
          | and
          a(href="https://nodejs.org/en/foundation/" target="_blank") Node.js Foundation
          | .
