section#fh5co-skills.skills
  .container
    .row
      h2.fh5co-uppercase-heading-sm.text-center skills
      .fh5co-spacer.fh5co-spacer-md
      #fh5co-tab-feature-vertical.fh5co-tab.resp-vtabs.hor_1(style="display: block; width: 100%; margin: 0px;")
        ul.resp-tabs-list.hor_1(style="margin-top: 3px;")
          li.resp-tab-item.hor_1.resp-tab-active(aria-controls="hor_1_tab_item-0" role="tab" style="background-color: white;")
            | Javascript
          li.resp-tab-item.hor_1(aria-controls="hor_1_tab_item-1" role="tab")
            | ActionScript
          li.resp-tab-item.hor_1(aria-controls="hor_1_tab_item-2" role="tab")
            | HTML, CSS
          li.resp-tab-item.hor_1(aria-controls="hor_1_tab_item-3" role="tab")
            | Other
        .resp-tabs-container.hor_1
          .resp-tab-content.hor_1.resp-tab-content-active(aria-labelledby="hor_1_tab_item-0" style="display:block")
            .row
              .col-md-12
                h2.h3 I ♡  JavaScript
              .col-md-6
                ul
                  li Node.js
                  li ES2015 syntax
                  li CoffeeScript
                  li TypeScript
              .col-md-6
                h4.h4 Frameworks
                ul
                  li Express
                  li Koa
                  li React
                  li Redux
                  li Angular

          .resp-tab-content.hor_1(aria-labelledby="hor_1_tab_item-1")
            .row
              .col-md-12
                h2.h3 My most favorite 3.0 syntax!
              .col-md-6
                h4.h4 My works
                a(href="http://flash.about-hiroppy.com/" target="_blank") Flash Works
              .col-md-6
                p This site is made in 2012/03/18.
                p ActionScript can make a beautiful animation:)

          .resp-tab-content.hor_1(aria-labelledby="hor_1_tab_item-2")
            .row
              .col-md-12
                h2.h HTML, CSS
                p I always use HTML5 and CSS3.
              .col-md-6
                h4.h4 HTML Template Engine
                ul
                  li ejs
                  li Pug
                  li Handlebars
                  li erb
                  li Haml
                  li slim
              .col-md-6
                h4.h4 CSS preprocessor
                ul
                  li Sass
                  li Less
                  li Stylus
                h4.h4 My old sites
                ul
                  li
                    a(href="http://metro.about-hiroppy.com" target="_blank") metro
                  li
                    a(href="http://material.about-hiroppy.com" target="_blank") material

          .resp-tab-content.hor_1(aria-labelledby="hor_1_tab_item-3")
            .row
              .col-md-12
                h2.h3 I ♡ Gopher!! Gopher is a very cute :)
              .col-md-6
                h4.h4 Languages
                ul
                  li Golang
                  li C++
                  li PHP
                  li MoonScript
                  li Objective-C
                  li Bash
                  li WhiteSpace
              .col-md-6
                h4.h4 App
                ul
                  li
                    a(href="http://labelial.about-hiroppy.com/") Labelial(iOS app)
                    p This app is out of service now(start is 2013-10-07).
                h4.h4 RDB & KVS
                ul
                  li Postgresql
                  li Mysql
                  li DynamoDB
                  li MongoDB
                  li IndexedDB
                  li Redis
