-
  const sns = [{
    url : 'https://github.com/abouthiroppy',
    icon: 'ti-github'
  }, {
    url : 'https://twitter.com/about_hiroppy',
    icon: 'ti-twitter'
  }, {
    url : 'https://www.facebook.com/abouthiroppy',
    icon: 'ti-facebook'
  }, {
    url : 'https://www.instagram.com/about_hiroppy',
    icon: 'ti-instagram'
  }, {
    url : 'https://www.linkedin.com/in/yuta-hiroto-340b4952',
    icon: 'ti-linkedin'
  }, {
    url : '',
    icon: 'ti-skype'
  }];

section#fh5co-testimonial
  .container
    .row.fh5co-feature-2
      h2.fh5co-uppercase-heading-sm.text-center
      | SNS
      .fh5co-spacer.fh5co-spacer-md
      each item in sns
        .col-md-4.col-sm-4.col-xs-6.fh5co-feature-item
          a.sns-icon(href=item.url target="_blank")
            span.fh5co-feature-icon.fh5co-circle
              i(class=item.icon)
