meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title="about-hiroppy"
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="a site of abourhiroppy")
meta(name="keywords" content="abouthiroppy, about-hiroppy, about_hiroppy, Yuta Hiroto")
meta(name="author" content="abouthiroppy")

<!-- Facebook and Twitter integration -->
meta(property="og:title" content="about-hiroppy")
meta(property="og:image" content="")
meta(property="og:url" content="http://about-hiroppy.com")
meta(property="og:site_name" content="about-hiroppy")
meta(property="og:description" content="a site of abouthiroppy")
meta(name="twitter:title" content="about-hiroppy")
meta(name="twitter:image" content="")
meta(name="twitter:url" content="http://about-hiroppy.com")
meta(name="twitter:card" content="")

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- <link rel="shortcut icon" href="favicon.ico"> -->

<!-- Google Webfont -->
link(href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css')
<!-- Themify Icons -->
link(rel="stylesheet" href="css/themify-icons.css")
<!-- Bootstrap -->
link(rel="stylesheet" href="css/bootstrap.css")
<!-- Superfish -->
link(rel="stylesheet" href="css/superfish.css")
<!-- Easy Responsive Tabs -->
link(rel="stylesheet" href="css/easy-responsive-tabs.css")

<!-- Theme Style -->
link(rel="stylesheet" href="css/style.css")
link(rel="stylesheet" href="bundle/style.css")
